body {
  font-family: Georgia;
  color: #444;
}

h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2 {
  font-size: 24px;
  font-style: italic;
}

h3,
h4 {
  font-size: 19.5px;
}

h1,
h2,
h3,
h4 {
  color: #333;
}

p {
  font-size: 16px;
  line-height: 18px;
  padding-right: 48px;
}

a {
  color: #990003;
}

#inner {
  padding: 10px 80px;
  margin: 80px auto;
  background: #f5f5f5;
  border: solid #666;
  border-width: 8px 0 2px 0;
}
.sec {
  margin-bottom: 16px;
  padding-bottom: 16px;
}

/* -- header, body, footer -- */
#hdr {
  margin: 40px 0 48px 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #ccc;
}

.job-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#content,
#ftr {
  margin-bottom: 32px;
}

/* -- footer -- */
#ftr {
  padding: 14.5px 0 72.5px 0;
  font-size: 14.5px;
  border-top: 1px solid #ccc;
  text-align: center;
}

#ftr p {
  margin-bottom: 0;
  text-align: center;
}

/* -- core typography and style -- */

a:hover {
  text-decoration: none;
}

span {
  display: inline-block;
  /* position: relative; */
  margin-bottom: 16px;
  padding-bottom: 16px;
  line-height: 32px;
}

li {
  margin: 3px 0;
  padding: 3px 0;
}

img {
  width: 12.5%;
  float: right;
  padding: 0 65px 0 30px;
  margin-top: auto;
}

.contact-info {
  margin-top: 7px;
  padding-left: 300px;
  text-align: right;
}

#bio {
  font-size: 23px;
  padding-right: 149.5px;
  line-height: 24px;
}

/* -- section styles -- */

.job {
  position: relative;
  margin-bottom: 16px;
}

.job h4 {
  position: absolute;
  top: 7px;
  right: 0;
}

.job p {
  margin: 12px 0 48px 0;
}

.skill {
  width: 32%;
  float: left;
}

.skill h2 {
  margin-bottom: 6px;
}
